<!-- {% if include.type == "post" %}
    <div style="position: fixed; bottom: 10px; left: 15px;">
            {% include toc.html html=content %}
    </div>
{% endif %} -->
<!-- <div style="position: fixed; bottom: 10px; right: 15px;">
    <a data-toggle="collapse" href="#tocCollapse" aria-expanded="false" aria-controls="tocCollapse">
        <img src="/img/favicon.png" title="toc">
    </a>
    <div class="collapse" id="tocCollapse">
        {% include toc.html html=content %}
    </div>
</div> -->
<div style="position: fixed; bottom: 74px; right: 15px;">
    <div>
        <a data-toggle="collapse" href="#tocCollapse" aria-expanded="false" aria-controls="tocCollapse">
            <img src="/img/favicon.png" title="toc">
        </a>
        <div class="collapse" id="tocCollapse">
            {% if include.type == "post" %}
            {% include toc.html html=content %}
            {% endif %}
        </div>
    </div>
</div>
<div style="position: fixed; bottom: 10px; right: 15px; max-width: 20%; overflow: visible; height: auto;">
    <a href="#top"><img src="/img/toup.png" title="위로 가기"></a><br />
    <a href="#godown"><img src="/img/todown.png" title="아래로 가기"></a>
</div>

<!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button> -->