
<ul id="pagination" role="navigation">
    {% if paginator %}
        {% if paginator.total_pages <= 5 %}
            {% assign first = 1 %}
            {% assign last = paginator.total_pages %}
        {% else %}
            {% assign first = paginator.page | minus: 2 %}
            {% if first < 1 %}
                {% assign first = 1 %}
            {% endif %}
            {% assign last = first | plus: 4 %}
            {% if last > paginator.total_pages %}
                {% assign last = paginator.total_pages %}
            {% endif %}
        {% endif %}
        
        {% for p in (first..last) %}
            {% if p == paginator.page %}
                <li class="page-item active">{{ p }}</li>
                {% elsif p == 1 %}
                <li class="page-item"><a href="{{ site.baseurl }}/">{{ p }}</a></li>
            {% else %}
                <li class="page-item"><a
                            href="{{ site.baseurl }}{{ site.paginate_path | replace: ':num', p }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}
        
    {% endif %}
</ul>


